<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />


    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>
<body>
    <h1>Nicholas Joiles</h1>
    <img src="{{ url_for('static', filename='canyon.jpg' )}}" alt="Picture of Nicholas Joiles"/>
    <p> My name is Nicholas Joiles.  I am loved and chosen by God to fulfill his purpose here on Earth. 
        I am a leader and I live to serve others. My interest is in Databse Management but I am open to learning new career paths in the IT industry.
        Also, I love football. The joy of keeping the ball and shooting brings me a lot of joy.
    </p>
</body>
</html>